.pager{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pagerdot{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #2F3E46;
}

.active{
    width: 40px;
    border-radius: 5px;
}