@import "../../../colors.scss";

.round-outer{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $light_highlight;
    display:flex;
    align-items:center;
    justify-content:center;
}