.form{
    display: flex;
    flex-direction: column;
}

.divider {
    padding: 15px 0px;
    display: flex;
    align-items: center;
    gap: 10px; 
}

.divider hr {
    flex: 1;
}

.google-signin{
    display: flex;
    justify-content:center;
}

#forgot{
    text-decoration: underline;
    font-size: smaller;
    font-weight: 500;
    text-align: right;
    margin-bottom: 10px;
}