@import "../../../colors.scss";

.input{
    width: 270px;
    border: 1px solid $primary;
    border-radius: 10px;
    padding: 15px 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: $light_background;
}

.input:active{
    border: 1px solid $primary;
}

.label{
    font-weight: 500;
}