.avatar_area{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.error {
    color: red;
    font-size: 14px;
    margin: 0;
}

.form{
    display: flex;
    flex-direction: column;
}

.instructions{
    align-self: center;
    width: 270px;
    background-color: #E1E3E4;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}
h4{
    padding-bottom: 10px;
}

ul{
    padding-left: 25px;
}

li{
    padding: 2px 0px;
    font-size: small;
}

.corner{
    border-radius: 5%;
    width: 65px;
    height: 65px;
    position: absolute;
    bottom: 0;
}

.green{
    background-color: #3EAF3F;
    left: 0;
    border-top-right-radius: 100%;
}

.yellow{
    background-color: #E0A106;
    right: 0;
    border-top-left-radius: 100%;
}