.form{
    display: flex;
    flex-direction: column;
}

.instructions{
    align-self: center;
    width: 270px;
    background-color: #E1E3E4;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}
h4{
    padding-bottom: 10px;
}

ul{
    padding-left: 25px;
}

li{
    padding: 2px 0px;
    font-size: small;
}